body{
    background-color: lightgray;
}

h1{
    font-size: 30px;
    color: teal;
}

h2{
    color: red;
    font-size: 20px;
}

.Big{
    font-size: 60px;
}

.uppercase{
    text-transform: uppercase;
}

.Big.uppercase{
    Color: navy;
}

h1 span{
    color: violet;
}